body {
    background-color: #f3f3f3;
    font-family: 'Roboto';
    text-align: center;
    color: #333;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
  
  td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

.question {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.answer {
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
}

pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #2670e6;
    color: #333;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em;
    display: block;
    word-wrap: break-word;
    border-radius: 4px;
}

pre code {
    font-family: monospace;
    font-size: 15px;
}

.red {
    color: rgb(157, 9, 9);
}

#bibliography {
    margin-top: 50px;
    background-color: coral;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    font-size: 16px;
}