body {
    background-color: #f3f3f3;
    font-family: 'Roboto';
    text-align: center;
    color: #333;
}

table {
    text-align: center;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
  }